:root{
    --black: #141414;
    --red: #e50914;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}

body{
    background: var(--black);
    font-family: 'Times New Roman', Times, serif;
}

header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 10px;
}

header .logo{
    color: var(--red);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 4rem;
    margin-left: 5px;
}

header nav a{
    text-decoration: none;
    color: #aaa;
    margin-right: 10px;
    font-size: 1.4rem;
}

header nav a:hover{
    color: #fff;
}

.main-movie{
    font-size: 1.6rem;
    color: #fff;
    background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)100%),url('/images/cover.jpg');
    
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.main-movie .container{
    margin-left: 20px;
    width: 70%;
}

.main-movie .title{
    margin-top: 15%;
    font-size: 4rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.main-movie .description{
    margin-bottom: 40px;
}

.button{
    background-color: rgba(0,0,0,.5);
    border: none;
    color: #fff;

    padding: 15px 30px;
    margin-right: 15px;
    font-size: 1.2rem;

    cursor: pointer;
    transition: .3s ease;
}
.button:hover{
    background-color: #fff;
    color: #000;
}

.button i{
    margin-right: 5px;
}

.movies-box{
    height: 100%;
    width: 100%;
    display: block;
}

.movies-carousel{
    margin-top: 5px;
}



